name: CI Workflow

on:
  push:
    branches: [ "**" ]

jobs:
  test-app:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:17-alpine
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: test_melodia_db
        options: >-
          --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
        ports:
        - 5432:5432

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Node
      uses: actions/setup-node@v4
      with:
        node-version: '22'

    - name: Create testing .env file
      run: echo "${{ secrets.TEST_ENV }}" > .env

    - name: Install dependencies
      run: |
        npm ci

    - name: Run tests
      run: |
        npm run test
        npm run test:e2e
